<p>
    <h2>Instructions</h2>
</p>
<p>
<blockquote>
    In this experiment, you will you read short scenarios. After each scenario, you will be presented with two options. Choose whichever option you think is the better one of the two.
    <br>
    There are no right or wrong answers; just use your intuition based on the details of each scenario.
</blockquote>
<blockquote>
    You will be presented with ten scenarios in total. There's no time limit so you may answer at your own pace.
</blockquote>
<p>